* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: flex-start; /* logo + nav bên trái */
    align-items: center;
    background: #111;
    color: white;
    padding: 10px 20px;
}



.logo {
    font-weight: bold;
}

.nav {
    margin-left: 40px;
}

.nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    padding: 8px 12px;
    text-align-all: left;
}

.nav a.active {
    background: #222;
    border-radius: 4px;
}

.login {
    font-size: 14px;
    margin-left:480px;
}

.main {
    display: flex;
    margin: 10px;
}
.sidebar-left {
    width: 15%;
    background: #f4f4f4;
    padding: 15px;
}

.sidebar-left a {
    display: block;
    color: #333;
    text-decoration: none;
    margin-bottom: 10px;
}
.content {
    width: 65%;
    padding: 20px;
}

.content h1 {
    margin-bottom: 10px;
}

.content p {
    margin-bottom: 15px;
}
.sidebar-right {
    width: 20%;
    background: #f4f4f4;
    padding: 15px;
    text-align: center;
}

.ads {
    border: 1px solid #ccc;
    padding: 30px;
    margin-bottom: 15px;
    background: white;
}
.footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 10px;
}
@media screen and (max-width: 900px) {
    .main {
        flex-direction: column;
    }
    .sidebar-left, .content, .sidebar-right {
        width: 100%;
    }
    .nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}















